streamlit
neo4j
requests
pandas
numpy
scikit-learn
sentence-transformers
mistralai
python-dotenv
plotly
streamlit-authenticator
pydantic
mistralai
beautifulsoup4
aiohttp

nest_asyncio



# FastAPI
fastapi
uvicorn[standard]
python-multipart

# Утилиты
python-dotenv
pydantic
pydantic-settings
nest-asyncio

tenacity